* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5; /* Fundo mais claro */
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    position: relative;
    background: #ff0019; /* Vermelho mais escuro */
    padding: 20px 0;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: none; /* Removendo o fundo estrelado */
    z-index: -1;
}

.cabecalho-imagem {
    width: 200px; /* Tamanho fixo da logo */
}

.cabecalho-lista {
    list-style: none;
    margin-top: 10px;
}

.cabecalho-lista-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: #ffffff; /* Texto branco */
}

.destaque {
    background: #ffffff; /* Fundo branco */
    color: #212529; /* Texto mais escuro */
    padding: 50px 0;
    text-align: center;
}

.destaque-titulo {
    font-size: 36px;
    margin-bottom: 20px;
}

.destaque-texto-um {
    font-size: 20px;
    margin-bottom: 20px;
}

.destaque-texto-dois {
    font-size: 18px;
    margin-bottom: 40px;
}

.destaque-corridas-titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.destaque-corridas-lista {
    list-style: none;
}

.destaque-corridas-item {
    font-size: 18px;
    margin-bottom: 10px;
}

.destaque-imagem {
    width: 700px;
    margin-top: 20px;
}

.equipes-titulo {
    font-size: 36px;
    margin-bottom: 20px;
}

.equipes-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.equipe-logo {
    width: 100%;
}

.equipe-nome {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.equipe-descricao {
    font-size: 16px;
    color: #6c757d; /* Cor de texto mais escura */
}

.rodape {
    background-color: #ff0019; /* Vermelho mais escuro */
    text-align: center;
    padding: 20px 0;
}

.rodape-imagem {
    height: 80px; /* Tamanho menor da logo no rodapé */
}
